nav {
  position: relative;
  z-index: 0;
  top: 0;
  width: 100vw;
  margin-bottom: 200px;
}

.nav-links > li > a {
  color: var(--yellow);
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  /* width: 100%; */
}

.nav-links > li:hover {
  background-color: var(--light-dark-blue);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links {
  background-color: var(--dark-blue);
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  /* padding: 0px 5vw; */
}

.nav-links > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 3px solid var(--gray);
  transition: all 0.2s;
  padding: 0;
  margin: 0;
  /* height: 10vh; */
  height: 65px;
  /* transition: all 0.5s; */
  cursor: pointer;
}

/* Fixed site nav bar effect */

nav {
  transition: all 0.5s;
  z-index: 1;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  font-weight: 600;
  text-shadow: 3px 3px 0 var(--pale-cornflower-blue);
  background-color: var(--yellow);
  border: none;
  /* display: none; */

  font-size: 2.5em;
  flex: 0;
}

li.logo:hover {
  background-color: var(--yellow);
}

li.logo a {
  color: var(--dark-blue);

  font-family: 'Luckiest Guy';
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-nav li.logo {
  max-width: 500px;
  flex: 1;
  border-right: 3px solid var(--gray);
  /* display: flex; */
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}
