@import url("./colors.css");
@import url("./ContactForm.css");
@import url("./nav.css");

@font-face {
  font-family: 'Cast Iron';
  src: url('./CastIron-Condensed.otf') format('opentype');
  font-family: 'Luckiest Guy';
  src: url('./luckiestguy.ttf') format('truetype');

}

html {
  font-family: 'Roboto Slab', serif;
  color: var(--dark-blue);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(245, 245, 245, 1);
}

.banner {

  /* top: 0; */
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-gap: 8vh;
  background-image: url('./images/topography.png');
  /* padding: 10vh 40px; */
  width: 100vw;
  padding-left: 4vw;
}

h1 {

  font-family: 'Luckiest Guy', cursive;
}

.title {
  margin-top: 0;
  /* margin-bottom: 15vh; */

  /* text-shadow: 2px 2px 0 var(--pale-cornflower-blue), 4px 4px 0 var(--light-blue), 6px 6px 0 var(--dark-blue); */
  text-shadow: 6px 6px 0 var(--tangerine);
  color: var(--dark-blue);
  font-size: 6em;
  /* font-weight: bold; */
  /* align-self: flex-end; */
  /* float: left; */
  text-align: left;
  max-width: 75vw;
  justify-self: left;


}

.title-highlight {

  text-shadow: 6px 6px 0 var(--dark-blue);
  color: var(--tangerine);
}

.contact-button {
  justify-self: center;
  align-self: center;
  padding: 10px 15px;
  /* margin: 10px 0px; */
  border: none;
  background-color: var(--red);
  font-weight: bold;
  font-size: 2.5em;
  font-family: 'Luckiest Guy';
  text-shadow: 3px 3px 0 var(--dark-blue);
  border: 5px solid var(--dark-blue);
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  color: var(--tangerine);
  text-shadow: 2px 2px 0 var(--dark-blue);
  border-radius: 5px;
}

.contact-button:active {
  background-color: var(--dark-red);
  text-shadow: 3px 3px 0 var(--dark-dark-blue);
  border: 5px solid var(--dark-dark-blue);
  color: var(--dark-tangerine);
  text-shadow: 2px 2px 0 var(--dark-dark-blue);
}

.contact-button:disabled:hover,
.contact-button:disabled:active,
.contact-button:disabled {
  opacity: .80;
  background-color: var(--dark-red);
  text-shadow: 3px 3px 0 var(--dark-dark-blue);
  border: 5px solid var(--dark-dark-blue);
  color: var(--dark-tangerine);
  text-shadow: 2px 2px 0 var(--dark-dark-blue);


}

.contact-button:hover {
  background-color: var(--light-red);
  text-shadow: 3px 3px 0 var(--light-dark-blue);
  border: 5px solid var(--light-dark-blue);
  color: var(--light-tangerine);
  text-shadow: 2px 2px 0 var(--light-dark-blue);

}


.site-wrap {
  border-radius: 15px;
  max-width: 75vw;
  margin: 30px auto;
  background: var(--background-gray);
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
  display: grid;
  justify-content: center;
  align-content: center;
}

.form-submit {
  justify-self: center;
  align-self: center;
  margin: 30px;
}

@media screen and (max-width: 992px) {
  .icon {
    width: 100px;
  }

  .title {
    font-size: 6em;
  }

  .contact-button {
    font-size: 1em;
  }

  .intro-phrase {
    font-size: .9em;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    width: 50px;
  }

  .title {
    font-size: 3em;
  }

  .contact-button {
    font-size: .8em;
  }

  .intro-phrase {
    font-size: .7em;
  }
}

@media screen and (max-width: 400px) {
  .icon {
    width: 30px;
  }

  .title {
    font-size: 2em;
    /* text-shadow: var(--red) 1px 1px; */
  }

  .contact-button {
    font-size: .75em;
    /* text-shadow: var(--dark-blue) 1px 1px; */
    /* border: 2px solid var(--dark-blue); */
  }

  .intro-block {
    /* border: 5px solid var(--dark-blue); */
  }

  .intro-phrase {
    font-size: .67em;
  }
}