/* Fixed site nav bar effect */

nav {
  transition: all 0.5s;
  z-index: 1;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
  background-color: var(--yellow);
  border: none;
}

li.logo a {
  color: var(--dark-blue);
}

nav a {
  transition: all 0.2s;
}
body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-nav li.logo {
  max-width: 500px;
  flex: 1;
  border-right: 3px solid var(--gray);
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

.site-wrap {
  max-width: 700px;
  margin: 30px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}
