:root {
  --button-spacing: 10vh;
  --dark-blue: rgba(18, 47, 65, 1);
  --light-dark-blue: rgb(27, 63, 85);
  --aqua: rgba(6, 133, 135, 1);
  --light-blue: rgba(79, 185, 159, 1);
  --yellow: rgba(242, 177, 52, 1);
  --dark-yellow: rgb(252, 173, 26);
  --light-yellow: rgb(245, 194, 100);
  --red: rgba(237, 85, 59, 1);

  --black: #222;
  --blue: #011566;
  --gray: #cdd6dd;
  --green-hover: #07b3a1;
  --dark-green: #013440;
  --dark-green-active: #013440;
  --dark-green-hover: #036075;
  --green: #038c7f;
  --green-active: #027267;
}
html {
  font-family: 'Roboto Slab', serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--dark-green);
}
.banner {
  text-shadow: var(--red) 4px 4px;
  color: var(--yellow);
  font-size: 3em;
  font-weight: bold;
  top: 0;
  height: 40vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url('../assets/images/topography.png');
  padding: 150px 0;
}

nav {
  position: relative;
  z-index: 0;
  top: 0;
  width: 100vw;
}

.nav-links > li > a {
  color: var(--yellow);
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  /* width: 100%; */
}

.nav-links > li:hover {
  background-color: var(--light-dark-blue);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links {
  background-color: var(--dark-blue);
  align-items: center;
  justify-content: center;
  display: flex;

  margin: 0;
  /* padding: 0px 5vw; */
}
.nav-links > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-right: 3px solid var(--gray);
  transition: all 0.2s;
  padding: 0;
  margin: 0;
  /* height: 10vh; */
  height: 55px;
}
/* .nav-links > .about-me {
  justify-content: flex-end;
} */
.about-me {
  display: flex;
}
.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  padding-top: 0px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(55px);
  will-change: opacity;
  display: none;
  z-index: 1;
  margin: 0;
  align-self: flex-start;
  justify-self: flex-start;

  /* width: 50%; */
}
.dropdown1 {
  /* justify-self: flex-end; */
  /* align-self: center; */

  /* align-self: flex-start; */
  padding-top: 20px;
  margin-left: 10px;
}

.trigger-enter .dropdown {
  display: block;
  /* z-index: 1; */
}

.trigger-enter-active .dropdown {
  opacity: 1;
  /* z-index: 2; */
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: var(--red);
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  z-index: 1;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: var(--red);
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  font-size: 14px;
  /* padding-top: var(--button-spacing); */
  /* min-width: 500px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  line-height: 1.7;
  background: papayawhip;
  /* box-shadow: var(--shadow-gray) 3px 3px; */
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: inline-block;
}
.bio p {
  display: block;
  margin-top: 5px;
}
.icon {
  width: 150px;
  float: left;
  margin-right: 5px;
  /* margin-bottom: 0; */

  height: auto;
}

.projects {
  /* padding-top: var(--button-spacing); */
  /* min-width: 300px; */
  /* border: 10px solid red; */
}

.projects li {
  padding: 10px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background-color: rgba(6, 133, 135, 0.7);
  /* border: 10px solid red; */
}

.dropdown a {
  text-decoration: none;
  color: var(--yellow);
}

a.button {
  /* position: center; */
  background: black;
  display: block;
  padding: 10px;
  color: white;
  margin: 10px;
  text-align: center;
  border: none;
  margin-top: 20px;
  /* border: 10px solid red; */
}
.dropdown3 {
  /* padding-top: var(--button-spacing); */
}
/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */

/* 

.button[href*='twitter'] {
         background: #019fe9;
       }
       .button[href*='facebook'] {
         background: #3b5998;
       } 
*/
.button[href*='in/adelgado0723'] {
  background: #0077b5;
}
.button[href*='andy-delgado.com'] {
  background: #f2b134;
}

/* Fixed site nav bar effect */

nav {
  transition: all 0.5s;
  z-index: 1;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
  background-color: var(--yellow);
  border: none;
  display: none;
  flex: 0;
}

li.logo a {
  color: var(--dark-blue);
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-nav li.logo {
  max-width: 500px;
  flex: 1;
  border-right: 3px solid var(--gray);
  display: flex;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

.site-wrap {
  max-width: 700px;
  margin: 30px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

@media screen and (max-width: 992px) {
  .icon {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    width: 50px;
  }
}
